{% load static %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 m-auto">
            <div class="card mb-3">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 card-color">
                        <div class="card-body">
                            <h5 class="card-title">Talent hunting</h5>
                            <p class="card-text1">This is how <span class="color_change">good companies snag the best talent.</span>
                            </p>
                            <p class="card-text2">Get access to the cream of the crop talent on <span
                                    class="name_of_project">FindMyWorks</span> and all the
                                tools you need to manage your hybrid workforce. That's how things get done these
                                days.</p>
                            <p class="card-text3"><img src="{% static '/image/icons/handyman.svg' %}"
                                                       class="image_content_2"
                                                       alt="..."><span class="content_style">Find the
                                experts to fill
                                in the blanks in your skillset.</span></p>
                            <p class="card-text3"><img src="{% static '/image/icons/business_center.svg' %}"
                                                       class="image_content_2" alt="..."><span class="content_style">Efficiently
                                control workflow by hiring, classifying and paying talent.</span></p>
                            <p class="card-text3"><img src="{% static '/image/icons/headset_mic.svg' %}"
                                                       class="image_content_2" alt="..."><span class="content_style">Partner
                                with FindMyWorks for full talent management support.</span></p>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="{% static '/image/landing-boy.svg' %}" class=" img-round" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
