{% load static %}

<div class="container-fluid">
    <div class="row d-flex justify-content-between card-d">
        <div class="col-12 m-auto">
            <p class="content_9_title">Accrue more stocks from trending startups</p>
            <div class="container ">
                <div class="row d-flex justify-content-evenly" style="margin-right: -4rem">
                    <div class="col-md-5">
                        <div class="card card-business">
                            <div class="card-body card-business">
                                <p class="card-business-title"><span class="content_9_money">Business worth $560</span><img
                                        src="{% static '/image/icons/circle_star.svg' %}" class="Circle-Star"><span
                                        class="days_left">Uprising</span></p>
                            </div>
                            <div class="card-img-top">
                                <img src="{% static '/image/stock1.svg' %}">
                            </div>
                            <div class="card-footer">
                                <p><img src="{% static '/image/polapain.svg' %}"> <span class="footer-text">Solaiman & 8 others</span>
                                    <img src="{% static '/image/icons/tali.svg' %}" class="tali_img"><span
                                            class="number_k">1.5K</span></p>
                            </div>
                        </div>
                        <p class="card_content_7_subtext">Unique Modern Professional Responsive Website UI/UX design</p>
                    </div>
                    <div class="col-md-5">
                        <div class="card card-business">
                            <div class="card-body card-business">
                                <p class="card-business-title"><span class="content_9_money">Business worth $560</span><img
                                        src="{% static '/image/icons/circle_star.svg' %}" class="Circle-Star"><span
                                        class="days_left">Uprising</span></p>
                            </div>
                            <div class="card-img-top">
                                <img src="{% static '/image/stock2.svg' %}">
                            </div>
                            <div class="card-footer">
                                <p><img src="{% static '/image/polapain.svg' %}"> <span class="footer-text">Solaiman & 8 others</span>
                                    <img src="{% static '/image/icons/tali.svg' %}" class="tali_img"><span
                                            class="number_k">1.5K</span></p>
                            </div>
                        </div>
                        <p class="card_content_7_subtext">Unique Modern Professional Responsive Website UI/UX design</p>
                    </div>
                </div>
                <div class="row d-flex justify-content-evenly" style="margin-right: -4rem">
                    <div class="col-md-5">
                        <div class="card card-business">
                            <div class="card-body card-business">
                                <p class="card-business-title"><span class="content_9_money">Business worth $560</span><img
                                        src="{% static '/image/icons/circle_star.svg' %}" class="Circle-Star"><span
                                        class="days_left">Uprising</span></p>
                            </div>
                            <div class="card-img-top">
                                <img src="{% static '/image/stock3.svg' %}">
                            </div>
                            <div class="card-footer">
                                <p><img src="{% static '/image/polapain.svg' %}"> <span class="footer-text">Solaiman & 8 others</span>
                                    <img src="{% static '/image/icons/tali.svg' %}" class="tali_img"><span
                                            class="number_k">1.5K</span></p>
                            </div>
                        </div>
                        <p class="card_content_7_subtext">Unique Modern Professional Responsive Website UI/UX design</p>
                    </div>
                    <div class="col-md-5">
                        <div class="card card-business">
                            <div class="card-body card-business">
                                <p class="card-business-title"><span class="content_9_money">Business worth $560</span><img
                                        src="{% static '/image/icons/circle_star.svg' %}" class="Circle-Star"><span
                                        class="days_left">Uprising</span></p>
                            </div>
                            <div class="card-img-top">
                                <img src="{% static '/image/stock4.svg' %}">
                            </div>
                            <div class="card-footer">
                                <p><img src="{% static '/image/polapain.svg' %}"> <span class="footer-text">Solaiman & 8 others</span>
                                    <img src="{% static '/image/icons/tali.svg' %}" class="tali_img"><span
                                            class="number_k">1.5K</span></p>
                            </div>
                        </div>
                        <p class="card_content_7_subtext">Unique Modern Professional Responsive Website UI/UX design</p>
                    </div>
                </div>
            </div>
            <div class="button-and-text d-flex align-items-center">
                <p class="stock_subtext">Explore more uprising startups</p>
                <i class="bi bi-arrow-right"></i>
            </div>
        </div>
    </div>
</div>