{% load static %}


<div class="container-fluid">
    <div class="row d-flex justify-content-between card-dr">
        <div class="col-7 m-auto">
            <p class="investment_title ">Discover Your Next Investment </p>
            <p class="investment_title pb-4">Breakthrough with <span class="investment_project_name">FindMyWork</span></p>
            <p class="investment_bold_text pb-4">Access to a Wide Range of Investment Opportunities</p>
            <p class="investment_subtext">FindMyWork offers a diverse range of investment opportunities, including projects from talented
                individuals and startups. This allows investors to explore a variety of options and find the best fit
                for their investment goals.</p>
            <p class="investment_bold_text pb-4">Direct Connections with Talented Individuals and Startups</p>
            <p class="investment_subtext">By using FindMyWork, investors have direct access to talented individuals and startups, enabling them to
                build relationships and assess the potential of their projects more effectively.</p>
            <p class="investment_bold_text pb-4">Streamlined Investment Process</p>
            <p class="investment_subtext">FindMyWork provides a streamlined process for investing in projects, including tools for evaluating
                investment opportunities and monitoring the progress of their investments. This makes it easier for
                investors to manage their portfolios and make informed decisions about their investments.</p>
        </div>
        <div class="col-4">
            <img src="{% static '/image/Nigga with Circle.svg' %}">
        </div>
    </div>
</div>
