{% load static %}
<div class="container-fluid">
    <div class="row d-flex justify-content-center" style="margin-bottom: 20rem">
        <div class="col-5" style="margin: 10rem 0">
            <p class="title">Work, A Beautiful Symphony When Done Right.</p>
            <p class="sub-title">Revolutionize the traditional approach, gather a dream team, and seize opportunities
                now.</p>
            <button class="btn btn-fmw-primary mt-3"><span>Get started</span></button>
            <p class="colab-with mt-5 pt-3">Collaboration with</p>
            <ul class="colab-logo">
                <li style="padding-left: 0"><img src="{% static 'image/icons/logos_google.svg' %}" alt="google"
                                                 width="20%"></li>
                <li><img src="{% static 'image/icons/logos_linkedin.svg' %}" alt="google" width="20%"></li>
                <li><img src="{% static 'image/icons/logos_microsoft.svg' %}" alt="google" width="20%"></li>
            </ul>
        </div>
        <div class="col-5" style="margin: 3rem 0 0 0">
            <div class="landing-abs-content">
                <img class="landing-float-img child-1 movement" src="{% static 'image/icons/frame 1.svg' %}" alt="img"
                     data-value="3">
                <img class="landing-float-img child-2 movement" src="{% static 'image/icons/frame 2.svg' %}" alt="img"
                     data-value="-2">
                <img class="landing-float-img child-3 movement" src="{% static 'image/icons/frame 3.svg' %}" alt="img"
                     data-value="1">
                <img class="d-flex align-items-center float-end landing-float-img child-4"
                     src="{% static 'image/landing_img_1.svg' %}" alt="img">
            </div>
        </div>
    </div>
</div>
