{% load static %}

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <p class="footer_title pb-5  pt-5">For Clients</p>
                <p class="footer_subtext">How to Hire</p>
                <p class="footer_subtext">Talent Marketplace</p>
                <p class="footer_subtext">Project Catalog</p>
                <p class="footer_subtext">Hire an Agency</p>
                <p class="footer_subtext">Enterprise</p>
                <p class="footer_subtext">Payroll Services</p>
                <p class="footer_subtext">Direct Contracts</p>
                <p class="footer_subtext">Hire Worldwide</p>
                <p class="footer_subtext">Hire in the USA</p>
                <p class="footer_icon pt-5"> Mobile app <img
                        src="{% static '/image/icons/apple.svg' %}" class="footer_icon_image"> <img
                        src="{% static '/image/icons/android.svg' %}" class="footer_icon_image"></p>
            </div>
            <div class="col-md-3">
                <p class="footer_title pb-5 pt-5">For Talent</p>
                <p class="footer_subtext">How to Find Work</p>
                <p class="footer_subtext">Direct Contracts</p>
                <p class="footer_subtext">Find Freelance Jobs Worldwide</p>
                <p class="footer_subtext">Find Freelance Jobs in the USA</p>
            </div>
            <div class="col-md-3">
                <p class="footer_title pb-5  pt-5">Resources</p>
                <p class="footer_subtext">Help & Support</p>
                <p class="footer_subtext">Success Stories</p>
                <p class="footer_subtext">FindMyWorks Reviews</p>
                <p class="footer_subtext">Resources</p>
                <p class="footer_subtext">Blog</p>
                <p class="footer_subtext">Community</p>
                <p class="footer_subtext">Affiliate Program</p>
                <p class="footer_subtext">Free Business tools</p>
            </div>
            <div class="col-md-3">
                <p class="footer_title pb-5  pt-5">Company</p>
                <p class="footer_subtext">About Us</p>
                <p class="footer_subtext">Leadership</p>
                <p class="footer_subtext">Investor Relations</p>
                <p class="footer_subtext">Careers</p>
                <p class="footer_subtext">Our Impact</p>
                <p class="footer_subtext">Press</p>
                <p class="footer_subtext">Contact Us</p>
                <p class="footer_subtext">Trust, Safety & Security</p>
                <p class="footer_subtext">Modern Slavery Statement</p>
                <p class="footer_follow pt-5">Follow Us <img src="{% static '/image/icons/facebook.svg' %}"
                                                             class="footer_icon_image"> <img
                        src="{% static '/image/icons/linkdn.svg' %}" class="footer_icon_image"> <img
                        src="{% static '/image/icons/twit.svg' %}" class="footer_icon_image">
                    <img src="{% static '/image/icons/youtube.svg' %}" class="footer_icon_image"><img
                            src="{% static '/image/icons/insta.svg' %}" class="footer_icon_image">
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>
                <p class=" footer_last_text"><span class="footer_policy">© 2022 - 2023 FindMyWorks®</span> <span
                        class="footer_policy">Terms of Service</span> <span class="footer_policy"> Privacy Policy</span>
                    <span class="footer_policy">CA Notice at Collection</span>
                    <span class="footer_policy">Accessibility</span></p>
            </div>
        </div>
    </div>
</footer>
