{% load static %}


<div class="container-fluid" style="background: var(--white)">

    <div class="row category_style ">
        <div class="col-md-10 mx-auto">
            <p class="category">Find talents by category</p>
            <div class="grid-container">
                <div class="category_content"><span class="category_title">Development & IT</span>
                    <p class="rating"><i class="bi bi-star-fill">4.55/5</i> 1800 talents</p>

                </div>
                <div class="category_content"><span class="category_title">Design & Creative</span>
                    <p class="rating"><i class="bi bi-star-fill">4.91/5</i> 1800 talents</p>

                </div>
                <div class="category_content"><span class="category_title">Sales & Marketing</span>
                    <p class="rating"><i class="bi bi-star-fill">4.77/5</i> 1800 talents</p>
                </div>
                <div class="category_content"><span class="category_title">Writing & Translation</span>
                    <p class="rating"><i class="bi bi-star-fill">4.92/5</i> 1800 talents</p>
                </div>
                <div class="category_content"><span class="category_title">Admin & Customer Support</span>
                    <p class="rating"><i class="bi bi-star-fill">4.77/5</i> 1800 talents</p>
                </div>
                <div class="category_content"><span class="category_title">Finance & Accounting</span>
                    <p class="rating"><i class="bi bi-star-fill">4.79/5</i> 1800 talents</p>
                </div>
                <div class="category_content"><span class="category_title">Engineering & Architecture</span>
                    <p class="rating"><i class="bi bi-star-fill">4.85/5</i> 1800 talents</p>
                </div>
                <div class="category_content"><span class="category_title">Legal</span>
                    <p class="rating"><i class="bi bi-star-fill">4.85/5</i> 1800 talents</p>
                </div>
            </div>
        </div>
    </div>
    <div class="button-and-text d-flex align-items-center">
        <button class="find-more-button">Find More</button>
        <p class="accurate-text">accurate talents with FMW advance search</p>
        <i class="bi bi-arrow-right"></i>
    </div>
</div>


