{% load static %}

<div class="card text-bg-light">
    <img src="{% static '/image/landing_content_4.svg' %}">
    <div class="card-img-overlay">
        <p class="content_4_title">Empower Your Talent Acquisition with </p>
        <p class="content_4_project_name">FindMyWork</p>
        <div class="content_4_text1 d-flex align-items-center">
            <img src="{% static '/image/content-4-number-1.svg' %}">
            <p class="content_bold_text1">Efficient Talent Sourcing</p>
        </div>
        <p class="content_bold_text1_subtext1">FindMyWork allows recruiters to search for and reach a large pool of job
            candidates in one centralized</p>
        <p class="content_bold_text1_subtext1_part2">platform, making the recruitment process more efficient and
            time-saving.</p>
        <div class="content_4_text1 d-flex align-items-center">
            <img src="{% static '/image/content_4_number_2.svg' %}">
            <p class="content_bold_text1">Access to a Diverse Candidate Pool</p>
        </div>
        <p class="content_bold_text1_subtext1">By using FindMyWork, recruiters can access a diverse pool of job
            candidates, including those with</p>
        <p class="content_bold_text1_subtext1_part2">traditional full-time work experience, freelancers, and
            entrepreneurs.</p>
        <div class="content_4_text1 d-flex align-items-center">
            <img src="{% static '/image/content_4_number_3.svg' %}">
            <p class="content_bold_text1">Improved Candidate Screening</p>
        </div>
        <p class="content_bold_text1_subtext1">The resume building tools provided by FindMyWork can help job seekers
            present their skills and experience
        <p class="content_bold_text1_subtext1_part2">in a more compelling way, making it easier for recruiters to screen
            and
            shortlist candidates based on their</p>
        <p class="content_bold_text1_subtext1_part2">qualifications.</p>
    </div>
</div>