{% load static %}

<div class="container-fluid">
    <div class="row d-flex justify-content-between card-d">
        <div class="col-5 m-auto">
            <p><img src="{% static '/image/dag1.svg' %}"></p>
            <p><img src="{% static '/image/dag2.svg' %}"></p>
            <p><img src="{% static '/image/dag3.svg' %}"></p>
            <p class="content_6_title">Transform</p>
            <p class="content-6_subtext">Your Business with</p>
            <p class="content-6_subtext">Cutting-Edge Solutions</p>
        </div>
        <div class="col-6">
            <div class="border-class">
                <p class="content_6_bold_text pb-4">Access to Innovative Solutions</p>
                <p class="content_6_text">FindMyWork offers a range of pre-made solutions from talented individuals,
                    providing buyers with access
                    to innovative and high-quality products that can improve their operations and drive growth.</p>
                <p class="content_6_bold_text pb-4">Cost-Effective Option</p>
                <p class="content_6_text">FindMyWork offers a range of pre-made solutions from talented individuals,
                    providing buyers with access
                    to innovative and high-quality products that can improve their operations and drive growth.</p>
                <p class="content_6_bold_text pb-4">Direct Connections with Talented Individuals</p>
                <p class="content_6_text">By using FindMyWork, buyers can directly connect with the talented individuals
                    who created the solutions
                    they need. This allows them to better understand the solutions and how they can be customized to
                    meet
                    their specific needs.</p>
            </div>

        </div>
    </div>
</div>
