{% load static %}

<div class="container-fluid">
    <div class="row d-flex justify-content-evenly card-discover">
        <p class="content_10_title pb-3">For Recruiter</p>
        <p class="content_10_discover pb-4">Discover the right talent on your terms</p>
        <p class="content_10_collab pb-5">Collaborate with <span class="content_10_project_name">FindMyWorks</span> extensive network of professionals for
            efficient completion of projects, big or
            small.</p>
        <div class="col-3">
            <div class="card Recruiter"><p class="content_10_bold_text">Post a job and hire a</p>
                <p class="content_10_bold_text pb-5">pro</p>
                <p class="content_10_subtext">Talents <i style="color: inherit" class="bi bi-arrow-right"></i></p>
            </div>
        </div>
        <div class="col-3">
            <div class="card Recruiter">
                <p class="content_10_bold_text">Get ready and</p>
                <p class="content_10_bold_text pb-5">sponsor a project</p>
                <p class="content_10_subtext">Project<i style="color: inherit" class="bi bi-arrow-right"></i></p>
            </div>
        </div>
        <div class="col-3">
            <div class="card Recruiter"><p class="content_10_bold_text">Contact with us to</p>
                <p class="content_10_bold_text pb-5">find a great talents</p>
                <p class="content_10_subtext">Contact us<i style="color: inherit" class="bi bi-arrow-right"></i></p>
            </div>
        </div>
    </div>
</div>

