{% load static %}



<div class="container-fluid">

    <div class="row category_style ">
        <div class="col-md-10 mx-auto">
            <p class="category">Candidates in your division</p>
            <div class="grid-container">
                <div class="candidate_content1"><span class="candidate_title">Dhaka</span>
                    <p class="candidate_text">500 candidates</p>

                </div>
                <div class="candidate_content2"><span class="candidate_title">Chattogram</span>
                    <p class="candidate_text">1000 candidates</p>
                </div>
                <div class="candidate_content3"><span class="candidate_title">Rajshahi</span>
                    <p class="candidate_text">300 candidates</p>
                </div>
                <div class="candidate_content4"><span class="candidate_title">Khulna</span>
                    <p class="candidate_text">600 candidates</p>
                </div>
                <div class="candidate_content5"><span class="candidate_title">Barishal</span>
                    <p class="candidate_text">2300 candidates</p>
                </div>
                <div class="candidate_content6"><span class="candidate_title">Sylhet</span>
                    <p class="candidate_text">900 candidates</p>
                </div>
                <div class="candidate_content7"><span class="candidate_title">Rangpur</span>
                    <p class="candidate_text">400 candidates</p>
                </div>
                <div class="candidate_content8"><span class="candidate_title">Mymensingh</span>
                    <<p class="candidate_text">1000 candidates</p>
                </div>
            </div>
        </div>
    </div>
    <div class="button-and-text d-flex align-items-center">
        <p class="candidate_subtext">Pick the best candidates according to job attributes</p>
        <i class="bi bi-arrow-right"></i>
    </div>
</div>


