{% load static %}

{#Signle Job#}
<div class="top-bot-border">
    <div class="row d-flex justify-content-evenly mt-3 mb-3">
        <div class="col-6 d-flex align-items-center">
            <p class="job-title">UX/UI Designer for a Client Onboarding Web Application</p>
        </div>
        <div class="col-6">
            <span class="heart-icon float-end"><i class="bi bi-suit-heart"></i></span>
        </div>
    </div>
    <ul class="job-nature">
        <li><span>Hourly:</span><span> $20-$35</span></li>
        <li><span>Skill level:</span><span>Expert</span></li>
        <li><span>Total time frame:</span><span> 1-3 months</span></li>
        <li><span>Weekly timeframe:</span><span> 35 hrs/week</span></li>
    </ul>
    <hr>
    <p class="job-description">We are looking for a UI/UX Designer to turn our software into easy-to-use products
        for
        our
        clients. UI/UX Designer
        responsibilities include gathering user requirements, designing graphic elements and building navigation
        components.
        To be successful in this role, you should have experience with design software and wireframe tools. If you
        also
        have
        a portfolio of professional design projects that includes work with web/mobile applications, we’d like to
        meet
        you.
        Requirements and skills Proven work experience as a UI/UX Designer or similar role Portfolio of design
        projects
        Knowledge of wireframe tools (e.g. Wireframe.cc and InVision) Up-to-date knowledge of design software like
        Adobe
        Illustrator and Photoshop Team spirit; strong communication skills to collaborate with various stakeholders
        Good
        time-management skills BSc in Design, Computer Science or relevant field Ultimately, you’ll create both
        functional
        and appealing features that address our clients’ needs and help us grow our customer base.</p>

    <div class="filter-content mt-3 mb-3">
        <p>Figma expert</p>
        <p>User flow</p>
        <p>Web Design</p>
        <p>Mockup</p>
        <p>Wire-framing</p>
        <p>Interaction Design</p>
        <p>UX & UI</p>
        <p>Prototyping</p>
    </div>
    <ul class="job-nature job-nature-override">
        <li><img src="{% static 'image/icons/verified_sign.svg' %}" alt="$"><span> Payment verified</span></li>
        <li>
            <span class="review-star"><img src="{% static 'image/icons/start_fill.svg' %}" alt="start"></span>
            <span class="review-star"><img src="{% static 'image/icons/start_fill.svg' %}" alt="start"></span>
            <span class="review-star"><img src="{% static 'image/icons/start_fill.svg' %}" alt="start"></span>
            <span class="review-star"><img src="{% static 'image/icons/start_fill.svg' %}" alt="start"></span>
            <span class="review-star"><img src="{% static 'image/icons/start_fill.svg' %}" alt="start"></span>
        </li>
        <li>
            <span class="review-star">$</span>
            <span class="review-star">40</span>
            <span class="review-star">k+ spent</span>
        </li>
        <li><img src="{% static 'image/icons/location_on.svg' %}" alt="$"><span> Honolulu</span></li>
    </ul>
</div>
{#Signle Job end#}

{#2nd job#}
<div class="top-bot-border">
    <div class="row d-flex justify-content-evenly mt-3 mb-3">
        <div class="col-6 d-flex align-items-center">
            <p class="job-title">UX/UI Designer for a Client Onboarding Web Application</p>
        </div>
        <div class="col-6">
            <span class="heart-icon float-end"><i class="bi bi-suit-heart"></i></span>
        </div>
    </div>
    <ul class="job-nature">
        <li><span>Hourly:</span><span> $20-$35</span></li>
        <li><span>Skill level:</span><span>Expert</span></li>
        <li><span>Total time frame:</span><span> 1-3 months</span></li>
        <li><span>Weekly timeframe:</span><span> 35 hrs/week</span></li>
    </ul>
    <hr>
    <p class="job-description">We are looking for a UI/UX Designer to turn our software into easy-to-use products
        for
        our
        clients. UI/UX Designer
        responsibilities include gathering user requirements, designing graphic elements and building navigation
        components.
        To be successful in this role, you should have experience with design software and wireframe tools. If you
        also
        have
        a portfolio of professional design projects that includes work with web/mobile applications, we’d like to
        meet
        you.
        Requirements and skills Proven work experience as a UI/UX Designer or similar role Portfolio of design
        projects
        Knowledge of wireframe tools (e.g. Wireframe.cc and InVision) Up-to-date knowledge of design software like
        Adobe
        Illustrator and Photoshop Team spirit; strong communication skills to collaborate with various stakeholders
        Good
        time-management skills BSc in Design, Computer Science or relevant field Ultimately, you’ll create both
        functional
        and appealing features that address our clients’ needs and help us grow our customer base.</p>

    <div class="filter-content mt-3 mb-3">
        <p>Figma expert</p>
        <p>User flow</p>
        <p>Web Design</p>
        <p>Mockup</p>
        <p>Wire-framing</p>
        <p>Interaction Design</p>
        <p>UX & UI</p>
        <p>Prototyping</p>
    </div>
    <ul class="job-nature job-nature-override">
        <li><img src="{% static 'image/icons/verified_sign.svg' %}" alt="$"><span> Payment verified</span></li>
        <li>
            <span class="review-star"><img src="{% static 'image/icons/start_fill.svg' %}" alt="start"></span>
            <span class="review-star"><img src="{% static 'image/icons/start_fill.svg' %}" alt="start"></span>
            <span class="review-star"><img src="{% static 'image/icons/start_fill.svg' %}" alt="start"></span>
            <span class="review-star"><img src="{% static 'image/icons/start_fill.svg' %}" alt="start"></span>
            <span class="review-star"><img src="{% static 'image/icons/start_fill.svg' %}" alt="start"></span>
        </li>
        <li>
            <span class="review-star">$</span>
            <span class="review-star">40</span>
            <span class="review-star">k+ spent</span>
        </li>
        <li><img src="{% static 'image/icons/location_on.svg' %}" alt="$"><span> Honolulu</span></li>
    </ul>
</div>
{#2nd job end#}
