<!--Finance div starts-->

{% load static %}
<div class="profile-finance-section">


    <!--Finance categories-->
    <div class="finance-categories">
        <h2 class="mb-4">Account Statistics</h2>

        <div class="row d-flex gapp-2 g-0">
            <div class="col d-grid gapp-2 mb-4 category-item">

                <img alt="" src={% static '/image/icons/market-activity.svg' %}>
                <h3>Activities</h3>
                <p>A record of all payments made over time.</p>

            </div>
            <div class="col d-grid gapp-2 mb-4 category-item">

                <img alt="" src={% static '/image/icons/report-genaration.svg' %}>
                <h3>Report Generation</h3>
                <p>A document showing the charges and fees for a product or service.</p>

            </div>
        </div>

        <div class="row g-0 d-flex gapp-2">

            <div class="col d-grid gapp-2 mb-4 category-item">

                <img alt="" src={% static '/image/icons/history.svg' %}>
                <h3>History</h3>
                <p>A summary of all billing activity for a period of time.</p>

            </div>
            <div class="col d-grid gapp-2 mb-4 category-item">

                <img alt="" src={% static '/image/icons/analytics.svg' %}>
                <h3>Analytics</h3>
                <p>A summary of all billing activity for a period of time.</p>

            </div>

        </div>

    </div>


    <!--payment and billing categories-->

    <div class="payment-billing-categories">
        <h2 class="mb-4">Payment and billing</h2>

        <div class="row g-0 d-flex gapp-2">

            <div class="col d-grid gapp-2 mb-4 category-item">

                <img alt="" src={% static '/image/icons/payment-history.svg' %}>
                <h3>Payment History</h3>
                <p>A record of all payments made over time.</p>

            </div>
            <div class="col d-grid gapp-2 mb-4 category-item">

                <img alt="" src={% static '/image/icons/billing-invoice.svg' %}>
                <h3>Billing Invoice</h3>
                <p>A record of all payments made over time.</p>

            </div>
        </div>

        <div class="row g-0 d-flex gapp-2">

            <div class="col-6 d-grid gapp-2 mb-4 category-item">

                <img alt="" src={% static '/image/icons/billing-report.svg' %}>
                <h3>Billing Report</h3>
                <p>A record of all payments made over time.</p>

            </div>

        </div>

    </div>


</div>