{% load static %}


<!--Profile Intro section-->
<div class="profile-intro">

                    <div class="progress-bar-section col-11 pb-5 pt-5 m-auto">
                        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="85"
                             aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%; background:#6750A4;"></div>
                        </div>
                        <div class="row">

                            <div class="col text-start">
                                <h3>$50</h3>
                                <h6>hourly Rate</h6>
                            </div>

                            <div class="col text-center">
                                <h3>$50</h3>
                                <h6>fixed Rate</h6>
                            </div>

                            <div class="col text-end">
                                <h3>$50</h3>
                                <h6>Job Success</h6>
                            </div>

                        </div>
                    </div>


                    <div class="profile-about-me">
                        <div class="d-flex justify-content-between pb-3">
                            <h2>Senior Software Engineer, Mobile</h2>
                            <img alt="" src="{% static '/image/icons/Pencil.svg' %}">
                        </div>

                        <p>"The last technology partner you will ever need".<br><br>

                            As a highly skilled and experienced developer with a Bachelor's and two Master's degrees in
                            Computer Science and Engineering, I have a strong foundation in both technical expertise and
                            creative problem-solving. With over 10 years of experience in mobile app development and a
                            deep appreciation for art and aesthetics, I am well-equipped to deliver top-quality products
                            that exceed my client's expectations.<br><br>

                            Throughout my career, I have worked with a wide range of programming languages and
                            technologies, including Java, Kotlin, Swift, Flutter, NodeJS, Python, Django, PHP, and
                            Laravel. I have also gained extensive experience with ERPNext, a powerful enterprise
                            resource planning platform. This experience, along with my attention to detail and
                            commitment to delivering top-notch work, has enabled me to develop over 30 successful mobile
                            applications for a variety of sectors, including e-commerce, e-learning, asset management,
                            lifestyle, entertainment, and IoT.<br><br>

                            I consider every project an opportunity to learn and grow as a developer, and I take great
                            pleasure in delivering high-quality work that meets both my client's expectations and my own
                            strict standards. If you're looking for a reliable and skilled developer with a track record
                            of success, I would be thrilled to bring my expertise and passion to your project. Let's
                            work together to create something truly exceptional.</p>
                    </div>
                </div>


                <div class="works_section mt-4">
                    <div class="work_section_title">
                        <h2>Works</h2>
                    </div>

                    <div class="work_body">

                        <div class="accordion" id="accordionExample">

                            <!-- Accordion Item 1-->

                            <div class="accordion-item">

                                <!--Accordion header-->

                                <h2 class="accordion-header" id="headingOne">

                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">

                                        <div class="work-title-rating">

                                            <h2>Scorer App: User Authentication Feature Design</h2>
                                            <div class="ratings_work d-flex justify-content-start align-items-end gap-2 mt-3 mb-4">
                                                <img src="{% static '/image/icons/star.svg' %}">
                                                <img src="{% static '/image/icons/star.svg' %}">
                                                <img src="{% static '/image/icons/star.svg' %}">
                                                <img src="{% static '/image/icons/star.svg' %}">
                                                <img src="{% static '/image/icons/star.svg' %}">
                                                <span>(<span>2</span>)</span>
                                            </div>

                                            <div class="row text-start">
                                                <div class="col">
                                                    <h3>$<span id="amount">10</span>k<span id="plus_icon">+</span>
                                                    </h3>
                                                    <h6>total Earnings</h6>
                                                </div>
                                                <div class="col">
                                                    <h3 id="amount">6<span>/hr</span></h3>
                                                    <h6>Hourly rate</h6>
                                                </div>
                                                <div class="col">
                                                    <h3 id="amount">184 <span>hours</span></h3>
                                                    <h6>total Hours</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <p style="position: absolute; right: 4rem;font-size: 1.2rem;font-weight: 500;">
                                            jan 25, 2023 -1:44 PM</p>
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                     aria-labelledby="headingOne" data-bs-parent="#accordionExample">

                                    <!--Accordion Body-->

                                    <div class="accordion-body">

                                        <!--Milestone Tree-->

                                        <ul>
                                            <li>
                                                <div class="row">
                                                    <div class="col-9">
                                                        <div class="li-content">

                                                            <h4>Milestone 1</h4>
                                                            <p>I am a UI/UX designer with [5/7/10+] years of experience
                                                                creating
                                                                intuitive digital experiences. My expertise includes
                                                                user
                                                                research,
                                                                prototyping, wireframing, and designing stunning
                                                                interfaces.
                                                                I
                                                                have
                                                                a deep understanding of design trends, techniques, and
                                                                tools. I
                                                                am a
                                                                fast learner, strong communicator, and dedicated to
                                                                delivering
                                                                outstanding results. Let's create something amazing
                                                                together!</p>

                                                            <div class="ratings_work d-flex justify-content-start align-items-center gap-2 mt-3 mb-4">
                                                                <img src="{% static '/image/icons/star.svg' %}">
                                                                <img src="{% static '/image/icons/star.svg' %}">
                                                                <img src="{% static '/image/icons/star.svg' %}">
                                                                <img src="{% static '/image/icons/star.svg' %}">
                                                                <img src="{% static '/image/icons/star.svg' %}">
                                                                <span>(<span>2</span>)</span>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="col-3 thumbnail-card d-grid align-items-end">


                                                        <div class="project_content">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h4>$4999</h4>
                                                                    <h6>$40<span>/hr</span></h6>
                                                                </div>
                                                                <div class="col d-flex align-items-end justify-content-end">
                                                                    <h6>199 hours</h6></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </li>
                                            <li>

                                                <div class="row">
                                                    <div class="col-9">
                                                        <div class="li-content">

                                                            <h4>Milestone 1</h4>
                                                            <p>I am a UI/UX designer with [5/7/10+] years of experience
                                                                creating
                                                                intuitive digital experiences. My expertise includes
                                                                user
                                                                research,
                                                                prototyping, wireframing, and designing stunning
                                                                interfaces.
                                                                I
                                                                have
                                                                a deep understanding of design trends, techniques, and
                                                                tools. I
                                                                am a
                                                                fast learner, strong communicator, and dedicated to
                                                                delivering
                                                                outstanding results. Let's create something amazing
                                                                together!</p>

                                                            <div class="ratings_work d-flex justify-content-start align-items-center gap-2 mt-3 mb-4">
                                                                <img src="{% static '/image/icons/star.svg' %}">
                                                                <img src="{% static '/image/icons/star.svg' %}">
                                                                <img src="{% static '/image/icons/star.svg' %}">
                                                                <img src="{% static '/image/icons/star.svg' %}">
                                                                <img src="{% static '/image/icons/star.svg' %}">
                                                                <span>(<span>2</span>)</span>
                                                            </div>

                                                        </div>
                                                    </div>

                                                    <div class="col-3 thumbnail-card d-grid align-items-end">


                                                        <div class="project_content">
                                                            <div class="row">
                                                                <div class="col">
                                                                    <h4>$4999</h4>
                                                                    <h6>$40<span>/hr</span></h6>
                                                                </div>
                                                                <div class="col d-flex align-items-end justify-content-end">
                                                                    <h6>199 hours</h6></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </li>
                                            <li><h4>Milestone 3</h4></li>
                                            <li><h4>Milestone 4</h4></li>
                                        </ul>

                                        <!--Milestone Tree-->

                                    </div>
                                </div>
                            </div>

                            <!-- Accordion Item 2-->

                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">


                                        <div class="work-title-rating">

                                            <h2>Scorer App: User Authentication Feature Design</h2>
                                            <div class="ratings_work d-flex justify-content-start align-items-center gap-2 mt-3 mb-4">
                                                <img src="{% static '/image/icons/star.svg' %}">
                                                <img src="{% static '/image/icons/star.svg' %}">
                                                <img src="{% static '/image/icons/star.svg' %}">
                                                <img src="{% static '/image/icons/star.svg' %}">
                                                <img src="{% static '/image/icons/star.svg' %}">
                                                <span>(<span>2</span>)</span>
                                            </div>

                                            <div class="row text-start">
                                                <div class="col">
                                                    <h3>$<span id="amount">10</span>k<span id="plus_icon">+</span>
                                                    </h3>
                                                    <h6>Earnings</h6>
                                                </div>
                                                <div class="col">
                                                    <h3 id="amount">6<span>/hr</span></h3>
                                                    <h6>Total Jobs</h6>
                                                </div>
                                                <div class="col">
                                                    <h3 id="amount">184<span>hours</span></h3>
                                                    <h6>total Hours</h6>
                                                </div>
                                            </div>


                                        </div>
                                        <p style="position: absolute; right: 4rem;font-size: 1.2rem;font-weight: 500;">
                                            jan 25, 2023 -1:44 PM</p>

                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse"
                                     aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">


                                        <div class="row">
                                            <div class="col-9">
                                                <div class="li-content">

                                                    <p>I am a UI/UX designer with [5/7/10+] years of experience
                                                        creating
                                                        intuitive digital experiences. My expertise includes
                                                        user
                                                        research,
                                                        prototyping, wireframing, and designing stunning
                                                        interfaces.
                                                        I
                                                        have
                                                        a deep understanding of design trends, techniques, and
                                                        tools. I
                                                        am a
                                                        fast learner, strong communicator, and dedicated to
                                                        delivering
                                                        outstanding results. Let's create something amazing
                                                        together!</p>

                                                    <div class="ratings_work d-flex justify-content-start align-items-center gap-2 mt-3 mb-4">
                                                        <img src="{% static '/image/icons/star.svg' %}">
                                                        <img src="{% static '/image/icons/star.svg' %}">
                                                        <img src="{% static '/image/icons/star.svg' %}">
                                                        <img src="{% static '/image/icons/star.svg' %}">
                                                        <img src="{% static '/image/icons/star.svg' %}">
                                                        <span>(<span>2</span>)</span>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-3 thumbnail-card d-grid align-items-end">


                                                <div class="project_content">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h4>$4999</h4>
                                                            <h6>$40<span>/hr</span></h6>
                                                        </div>
                                                        <div class="col d-flex align-items-end justify-content-end"><h6>
                                                            199 hours</h6></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div> <!--Works Body ends-->

                <!--Employment section -->

                <div class="employment-section mt-4">

                    <div class="employment">

                        <div class="employment-title d-flex justify-content-between">
                            <h2>Employment</h2>
                            <img src="{% static '/image/icons/plus_icon.svg' %}" alt="">
                        </div>


                        <div class="employment-one">

                            <div class="employment-body-title">
                                <div><h3>CEO | Increments Inc.</h3>
                                    <p><span id="employ_start_date">April 2021</span> - <span
                                            id="employ_end_date">present</span></p>
                                </div>
                                <img src="" alt="">
                            </div>

                            <p>I founded Increments Inc. in April 2021, after the global pandemic. My mission is to
                                bring ideas to life and make a positive impact on the world. The name reflects my belief
                                in continuously making progress and turning dreams into reality. Currently, I have 27
                                top notch engineers to bring my customer’s ideas into life according to their vision and
                                my precise direction for the digital world. (Apr 2021 - Present)</p>
                        </div>
                    </div>

                    <div class="employment-two">

                        <div class="employment-body-title">
                            <div><h3>Senior Software Engineer | Google.</h3>
                                <p><span id="employ_start_date">April 2021</span> - <span
                                        id="employ_end_date">present</span></p>
                            </div>
                            <img src="" alt="">
                        </div>
                        <p>I founded Increments Inc. in April 2021, after the global pandemic. My mission is to
                            bring ideas to life and make a positive impact on the world. The name reflects my belief
                            in continuously making progress and turning dreams into reality. Currently, I have 27
                            top notch engineers to bring my customer’s ideas into life according to their vision and
                            my precise direction for the digital world. (Apr 2021 - Present)</p>

                    </div>

                </div><!--employment div ends-->
