{% load static %}

<div class="activities-section">


    <h1>Activities</h1>

    <!--Earnings-->

    <div class="activities-earning">

        <h1>Earnings</h1>

        <div class="table">
            <table class="table">
                <thead>
                <tr>

                   <th><p>Project’s name</p></th>
                    <th><p>Client’s Name</p></th>
                    <th><p>Amount</p></th>
                    <th><p>Payment Method</p></th>
                    <th><p>Transaction From</p></th>
                    <th><p>Transaction To</p></th>
                    <th><p>Date &Time</p></th>

                </tr>
                </thead>

                <tbody>

                <tr>
                    <td><h4>Web Application</h4></td>
                    <td><h4>Fairy d’souza</h4></td>
                    <td>$5000.00</td>
                    <td>Bkash</td>
                    <td>01********18</td>
                    <td>01*********32</td>
                    <td>2:18 PM 2/16/2023</td>

                </tr>

                <tr>
                    <td><h4>Web Application</h4></td>
                    <td><h4>Fairy d’souza</h4></td>
                    <td>$5000.00</td>
                    <td>Bkash</td>
                    <td>01********18</td>
                    <td>01*********32</td>
                    <td>2:18 PM 2/16/2023</td>

                </tr>

                <tr>
                    <td><h4>Web Application</h4></td>
                    <td><h4>Fairy d’souza</h4></td>
                    <td>$5000.00</td>
                    <td>Bkash</td>
                    <td>01********18</td>
                    <td>01*********32</td>
                    <td>2:18 PM 2/16/2023</td>

                </tr>

                </tbody>
            </table>

        </div>

    </div>


    <!--Expenses-->

    <div class="activities-expenses">

        <h1>Expenses</h1>

        <div class="table">
            <table class="table">
                <thead>
                <tr>

                    <th><p>Purpose</p></th>
                    <th><p>Payment Method</p></th>
                    <th><p>Amount</p></th>
                    <th><p>Transaction From</p></th>
                    <th><p>Transaction To</p></th>
                    <th><p>Date &Time</p></th>

                </tr>
                </thead>

                <tbody>

                <tr>
                    <td><h4>Web Application</h4></td>
                    <td><h4>Fairy d’souza</h4></td>
                    <td>$5000.00</td>
                    <td>Bkash</td>
                    <td>01********18</td>
                    <td>01*********32</td>
                    <td>2:18 PM 2/16/2023</td>

                </tr>

                <tr>
                    <td><h4>Web Application</h4></td>
                    <td><h4>Fairy d’souza</h4></td>
                    <td>$5000.00</td>
                    <td>Bkash</td>
                    <td>01********18</td>
                    <td>01*********32</td>
                    <td>2:18 PM 2/16/2023</td>

                </tr>

                <tr>
                    <td><h4>Web Application</h4></td>
                    <td><h4>Fairy d’souza</h4></td>
                    <td>$5000.00</td>
                    <td>Bkash</td>
                    <td>01********18</td>
                    <td>01*********32</td>
                    <td>2:18 PM 2/16/2023</td>

                </tr>

                </tbody>
            </table>

        </div>

    </div>

    <!--Analytics-->

    <div class="activities-analytics">

        <h1>Analytics</h1>

        <div class="analytics-chips">

            <div class="row analytics-chips">

                <div class="col"><p>Total Earnings</p><hr><h1>$40,000.00</h1></div>
                <div class="col"><p>Total Earnings</p><hr><h1>$40,000.00</h1></div>
                <div class="col"><p>Total Earnings</p><hr><h1>$40,000.00</h1></div>

            </div>

            <div class="row">

                <div class="col"><p>Total Earnings</p><hr><h1>$40,000.00</h1></div>
                <div class="col"><p>Total Earnings</p><hr><h1>$40,000.00</h1></div>
                <div class="col"><p>Total Earnings</p><hr><h1>$40,000.00</h1></div>

            </div>

            <div class="row">

                <div class="col"><p>Total Earnings</p><hr><h1>$40,000.00</h1></div>
                <div class="col"><p>Total Earnings</p><hr><h1>$40,000.00</h1></div>
                <div class="col"><p>Total Earnings</p><hr><h1>$40,000.00</h1></div>

            </div>

            <div class="row">

                <div class="col"><p>Total Earnings</p><hr><h1>$40,000.00</h1></div>
                <div class="col"><p>Total Earnings</p><hr><h1>$40,000.00</h1></div>

            </div>

        </div>


    </div>


</div>